<div class="settings-panel">
  <div class="queues" >
    <div class="queue">
      <h2 style="color: rgb(126,165,103)">Queue:</h2>
      <ul>
        <li *ngFor="let record of queue" style="margin-top: 0">
          <h4 style="color: rgb(126,165,103);font-size: 14px;margin-top: 0">
            {{record.floorNumber}}-{{record.direction}} ;
          </h4>
        </li>
      </ul>
    </div>
    <div class="current-destinations">
      <h2 style="color: rgb(126,165,103);">Current Destinations:</h2>
      <ul>
        <li *ngFor="let record of currentDestinations" style="margin-top: 0">
          <h4 style="color: rgb(126,165,103);;font-size: 18px;margin-top: 0">
            {{record}}  ,
          </h4>
        </li>
      </ul>
    </div>
  </div>
  <div class="floor-indicator">
    <div class="indicator">
      <div class="indicator-number">
        <h1 class="indicator-arrow">{{actualPosition}}</h1>
      </div>
      <div class="indicator-direction">
        <h1 *ngIf="actualDirection === 'UP'" class="indicator-arrow">&uArr;</h1>
        <h1 *ngIf="actualDirection === 'DOWN'" class="indicator-arrow">&dArr;</h1>
      </div>
    </div>
    <div class="notice-panel">
      <h3 style="margin-bottom: 1px;margin-top: 0; font-size: 24px">{{notice}}</h3>
    </div>
  </div>
  <div class="floor-settings" >
    <div class="floor-buttons" style="">
      <h2 style="color: rgb(126,165,103);">Floor settings</h2>
      <button class="floor-button" (click)="addFloor()">Add floor</button>
      <button class="floor-button" (click)="deleteFloor()">Delete floor</button>
    </div>
  </div>
</div>


