.settings-panel{
  height: 150px;
  width: 100%;
  background-color: crimson;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  z-index: 5;
}
.queues{
  display: grid;
  background-color: rgb(158,163,175);

}
.queue{
  display: inline-flex;
}
.queue ul,li{
  display: inline-flex;
}
.current-destinations{
  display: inline-flex;
}
.current-destinations ul,li{
  display: inline-flex;
}
.floor-indicator{
  background-color: rgb(242,248,249);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70% 20%;
  align-content: center;
  justify-items: center;
}
.indicator{
  height: 90%;
  width: 80%;
  background-color: black;
  border: solid grey 6px;
  display: inline-flex;
  margin-top: 4px;
}
.notice-panel{
  margin-top: 20px;
}
.indicator-number{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #000000;
  padding: 0;
  margin-top: 0;
}
.indicator-direction{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #000000;
  padding: 0;
  margin-top: 0;
}
.indicator-arrow{
  font-size: 90px;
  color: crimson;
  margin: 0;
}
.floor-settings{
  background-color: rgb(242,248,249);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
.queues{
  background-color: rgb(242,248,249);
  width: 100%;
  height: 100%;
  padding-left: 10px;
}

