.floor-row{
  height: 115px;
  background-color: crimson;
  color: lightgrey;
  display: flex;
  justify-content: center;
}
.elevator-img{
  height: 110px;
  padding: 5px;
}
.elevator-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.destination-picker {
  display: flex;
}
.destination-button{
  border-radius: 25px;
}
h2,ul,li{
  display: inline;
}
