<app-settings-panel [notice]="notice" [floors]="floors"[currentDestinations]="actualDestinations"[queue]="callQueue" [actualPosition]="actualPosition" [actualDirection]="actualDirection" ></app-settings-panel>
<div class="floor-container" style="margin-top: 160px">
  <div class="floor-row" *ngFor="let floor of floors; let i=index">
    <div class="floor-label">
      <h1>{{floors[floors.length-i-1].id}}</h1>
    </div>
    <div class="floor-elevator-image">
      <img *ngIf="floors[floors.length-i-1].isActive && !floors[floors.length-i-1].isCalledHere" class="elevator-img" src="../../../assets/elevator-active-wide.png">
      <img *ngIf="(!floors[floors.length-i-1].isActive)" class="elevator-img" src="../../../assets/elevator-non-wide.png">
      <img *ngIf="floors[floors.length-i-1].isActive && floors[floors.length-i-1].isCalledHere" class="elevator-img" src="../../../assets/elevator-open-wide.png">
    </div>
    <div class="elevator-buttons">
      <button class="call-button" *ngIf="((!floors[floors.length-i-1].isCalledHere)  || (floors[floors.length-i-1].isCalledHere && !floors[floors.length-i-1].isActive)) && floors[floors.length-i-1].id != floors.length-1" (click)="callElevator(floors.length-i-1,'UP')">&uArr;</button>
      <button class="call-button" *ngIf="((!floors[floors.length-i-1].isCalledHere) || (floors[floors.length-i-1].isCalledHere && !floors[floors.length-i-1].isActive)) && floors[floors.length-i-1].id != 0" (click)="callElevator(floors.length-i-1,'DOWN')">&dArr;</button>
      <div class="destination-picker" *ngIf="floors[floors.length-i-1].isActive">
        <ul *ngIf="floors[floors.length-i-1].isCalledHere">
          <li *ngFor="let floor of floors">
            <button class="destination-button" *ngIf="actualDirection === 'UP' && floor.id > actualPosition" (click)="destinationChosen(floor.id)">{{floor.id}}</button>
            <button class="destination-button" *ngIf="actualDirection === 'DOWN' && floor.id < actualPosition" (click)="destinationChosen(floor.id)">{{floor.id}}</button>
            <button class="destination-button" *ngIf="actualDirection === null" (click)="destinationChosen(floor.id)">{{floor.id}}</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="people-count-container" *ngIf="floors[floors.length-i-1].isActive && floors[floors.length-i-1].isCalledHere">
      <label class="people-count-label" for="people-count-input">People count</label>
      <input [(ngModel)]="peopleCount" type="number"  [maxLength]="1" id="people-count-input" class="people-count-input">
    </div>
  </div>
</div>

