.floor-row{
  height: 200px;
  background-color: rgb(242,248,249);
  color: lightgrey;
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  border: solid;
}
.elevator-img{
  max-width:100%;
  height:190px;
}
.elevator-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.destination-picker {
  display: flex;
}
.destination-button{
  width: 25px;
  height: 25px;
  border-radius: 35px;
  border: none;
  background-color: rgb(146,151,165);
  color: rgb(242,248,249);

}
h2,ul,li{
  display: inline;
}
.floor-label h1{
  color: rgb(126,165,103);
  font-size: 80px;
}
.floor-label{
  width: 15%;
  align-items: center;
  margin-left: 2%;
}
.floor-elevator-image{
  width: 70%;
  align-items: center;
}
.elevator-buttons{
  width: 15%;
  justify-content: center;
  margin-right: 10%;
}
.call-button{
  width: 55px;
  height: 40px;
  align-items: center;
  background-color: rgb(146,151,165);
  color: rgb(242,248,249);
  border: none;
  margin: 3px;
  border-radius: 20px;
  font-size: 22px;
}
.settings{
  margin-top: 160px;
}
